<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076012159800-n8i9sk41ov7klt9u2hq8jgnlo9n4i4n3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076012159800-n8i9sk41ov7klt9u2hq8jgnlo9n4i4n3</string>
	<key>API_KEY</key>
	<string>AIzaSyB_OwKv9hBzk77pVrzM4U-AHXKKhez8PtU</string>
	<key>GCM_SENDER_ID</key>
	<string>1076012159800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-crud-8ff51</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-crud-8ff51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076012159800:ios:702a4c3a235edcbc8267cd</string>
</dict>
</plist>